.nst-root {
	padding: 0;
}
.nst-root li {
	list-style: none;
}

.nst-item {
	transform-style: preserve-3d;
	margin: 0 0 5px 0;
}
.nst-item .nst-list {
	display: none;
	margin: 5px 0;
	padding: 0 0 0 20px;
	box-sizing: border-box;
	width: 100%;
}
.nst-item.nst-parent > .nst-list {
	display: block;
}

.nst-item {
	z-index: 2;
	list-style: none;
	display: block;
	position: relative;
}
.nst-item.nst-draggable .nst-handle {
	cursor: grab;
}
.nst-item.nst-collapsed > .nst-list {
	display: none;
}

.nst-dragging {
	z-index: 10000;
}

.nst-button {
	background-color: transparent;
	border: none;
	float: left;
	display: none;
	padding: 9px;
	cursor: pointer;
}
.nst-button::before {
	content: "\2212";
	z-index: 1;
	position: relative;
}

.nst-parent > .nst-button {
	display: block;
}
.nst-parent.nst-collapsed > .nst-button::before {
	content: "+";
}

.nst-placeholder {
	border-radius: 3px;
	border: 1px dashed #aaa;
	box-sizing: border-box;
	z-index: 1;
	pointer-events: none;
}

.nst-clone {
	position: absolute;
	pointer-events: none;
}